@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

.header, .footer{
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.footer{
  background: lightgray;
}


.content{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 100px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}
ul{
   display: flex;
  gap: 10px;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
a{
  text-decoration: none;
  color: gray;
}